---
import { Icon } from "astro-icon/components";
---

<footer class="flex flex-col h-50 bg-blue-500 dark:bg-blue-950 w-full">
  <div class:list={["flex flex-row items-center justify-center w-full pt-5 gap-4", Astro.props['hide-icons'] && "hidden"]}>
    <a href="https://codeberg.org/Minecodes" rel="preload"
      ><Icon name="simple-icons:codeberg" class="text-white text-2xl" /></a
    >
    <a href="https://github.com/Minecodes" rel="preload"
      ><Icon name="simple-icons:github" class="text-white text-2xl" /></a
    >
    <a href="https://youtube.com/@Minecodes" rel="preload"
      ><Icon name="simple-icons:youtube" class="text-white text-2xl" /></a
    >
    <a href="https://sueden.social/@Minecodes" rel="preload"
      ><Icon name="simple-icons:mastodon" class="text-white text-2xl" /></a
    >
    <a href="https://bsky.app/profile/mcds.moe" rel="preload"
      ><Icon name="simple-icons:bluesky" class="text-white text-2xl" /></a
    >
    <a href="https://discord.gg/ngZaGzPnmq" rel="preload"
      ><Icon name="simple-icons:discord" class="text-white text-2xl" /></a
    >
  </div>
  <div class="flex flex-col items-center justify-center w-full pt-5">
    <h5 class="text-white text-lg font-[Edu_NSW_ACT_Foundation_Variable]">
      © {new Date().getFullYear()} Thies Ohme
    </h5>
    <h5 class="text-white text-lg font-[Edu_NSW_ACT_Foundation_Variable]">All rights reserved</h5>
    <h5 class="text-white text-lg font-[Edu_NSW_ACT_Foundation_Variable]">
      This includes all names associated with this page and it's authors
    </h5>
    <a href="/legal" class="text-white underline">Legal</a>
  </div>
</footer>
