---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<div class="flex flex-row items-center justify-center w-full gap-4 mt-8">
  <a
    href="https://codeberg.org/Minecodes"
    aria-label="Discover more project created by me on Codeberg"
    rel="preload"
    ><Icon name="simple-icons:codeberg" class="text-white text-2xl" /></a
  >
  <a
    href="https://github.com/Minecodes"
    aria-label="Discover more project created by me on Github"
    rel="preload"
    ><Icon name="simple-icons:github" class="text-white text-2xl" /></a
  >
  <a
    href="https://youtube.com/@Minecodes"
    aria-label="Watch some of my videos I uploaded on Youtube"
    rel="preload"
    ><Icon name="simple-icons:youtube" class="text-white text-2xl" /></a
  >
  <a
    href="https://sueden.social/@Minecodes"
    aria-label="Follow me on Sueden Social, a Mastodon instance, to see my posts"
    rel="preload"
    ><Icon name="simple-icons:mastodon" class="text-white text-2xl" /></a
  >
  <a
    href="https://bsky.app/profile/mcds.moe"
    aria-label="Follow me on Bluesky to see my posts"
    rel="preload"
    ><Icon name="simple-icons:bluesky" class="text-white text-2xl" /></a
  >
  <a
    href="https://discord.gg/ngZaGzPnmq"
    aria-label="Join my Discord server to chat with me and other people"
    rel="preload"
    ><Icon name="simple-icons:discord" class="text-white text-2xl" /></a
  >
</div>
